<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>chat room</title>
    <script src="jquery-1.9.1.min.js"></script>
</head>
<body onclick="stopMsg()">

<div id="login-div">
    <form onsubmit="return false;">
        <input type="text" name="type" value="login" hidden>
        <input type="text" placeholder="用户名" name="message" id="userName" autocomplete="off">
        <input type="button" id="login-button" value="登录" onclick="send(this.form)"/>
    </form>
</div>
<hr/>
<div id="chat-div" style="display: none">
    <form onsubmit="return false;">
        <input type="text" name="type" value="chat" hidden>
        <input type="text" id="message" name="message" placeholder="Netty最佳实践" />
        <input type="button" value="发送WebSocket请求消息" onclick="send(this.form)"/>
        <hr color="blue"/>
        <h3>应答消息</h3>
        <textarea id="responseText" style="width:78%;height:300px;"></textarea>
        <textarea id="active-friends" style="width:20%;height:300px;"></textarea>
    </form>
</div>

</body>
<script type="text/javascript">
    var socket;
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {
        socket = new WebSocket("ws://localhost:3333/websocket");
        socket.onmessage = function (event) {
            var data = JSON.parse(event.data);
            var ta = document.getElementById('responseText');
            switch (data.type) {
                case 'login':
                    var temp = data.message + ' -> 登录成功~ ' + data.time;
                    ta.value = temp + '\n\n' + ta.value;
                    document.getElementById('userName').disabled = true;
                    document.getElementById('login-button').disabled = true;
                    document.getElementById('chat-div').style.display = 'block';
                    break;
                case 'chat':
                    var temp = data.userName + ' : ' + data.message + ' ' + data.time;
                    ta.value = temp + '\n\n' + ta.value;
                    message.showMessage('新消息');
                    break;
                case 'friends':
                    var friends = document.getElementById('active-friends');
                    friends.value = null;
                    for (var ff of data.activeFriends){
                        friends.value = ff + '\n' + friends.value;
                    }
                    friends.value = '在线好友↓↓↓↓↓↓' + '\n' + friends.value;
                    break;
                default:


            }
        };
        socket.onopen = function (event) {
            var ta = document.getElementById('responseText');
            ta.value = "打开WebSocket服务正常，浏览器支持WebSocket!";
        };
        socket.onclose = function (event) {
            var ta = document.getElementById('responseText');
            ta.value = "";
            ta.value = "WebSocket 关闭!";
        };
    }
    else {
        alert("抱歉，您的浏览器不支持WebSocket协议!");
    }

    function send(form) {
        var jsonObject = {
            'type':form.type.value,
            'message':form.message.value
        };
        var jsonData = JSON.stringify(jsonObject);
        if (!window.WebSocket) {
            return;
        }
        if (form.message.value === null || form.message.value === ''){
            alert('请填写内容！');
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            socket.send(jsonData);
            var ta = document.getElementById('message');
            ta.value = null;
        } else {
            alert("WebSocket连接没有建立成功!");
        }
    }

    setInterval(function () {
        var jsonObject = {
            'type':'friends'
        };
        var jsonData = JSON.stringify(jsonObject);
        socket.send(jsonData);
    },1000);

    let message = {
        timeout: null,
        oldTitle: document.title,
        time: 0,
        showMessage(msg){
            message.timeout = setInterval(function(){
                message.time ++;
                let title = '';
                if(message.time % 2 === 0){
                    title = '【】';
                }else{
                    title = '【 ' + msg + ' 】';
                }
                document.title = title;
            },600);

        },
        stopMessage(){
            document.title = message.oldTitle;
            clearTimeout(message.timeout);
        }
    };

    function showMsg(){
        message.showMessage('新消息');
    }

    function stopMsg(){
        message.stopMessage('新消息');
    }
</script>

<script type="text/javascript">

    $(function () {

    });


    function login() {
        $.ajax({
            type : 'get',
            url : '/chat/login',
            async : true,
            data: {
                'userName':$("#userName").val()
            },
            success:function (data) {
                debugger
                console.log(data)
                alert(data)
            },
            error:function (err) {
                debugger
                console.log(err)
                alert(err)
            }
        })
    }
</script>
</html>